ion-content{

    --ion-background-color:#b8ef75;
}

ion-searchbar {
--background: #daf7b7;
--color: black;
--placeholder-color: blue;
}

ion-toolbar {
--background: #b8ef75;
--border-color: white;
}

